/* Structure */

body{
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(https://c8.alamy.com/comp/H7Y04P/blue-binary-code-background-H7Y04P.jpg);
}

#content{
    background-color:aquamarine;
    width: 75%;
    margin: auto;
    padding: 0 5px;
    border-radius: 5px;
}

a:link {
    text-decoration: none;
    color: red;
}


/* Typography */

h1{
    text-align: center;
    font-style: italic;
    color: Black;
}

h2{
    text-align: center;
}


/*Navigation */

.dWSecs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dW{
    text-align: center;
    width: 27%;
    padding: 20px;
    margin: 20px;
    background: #02577a;
}

.dW img{
    height: 250px;
    width: 250px;
    max-height: 100%;
    max-width: 90%;
    border: solid black;
    display: block;
    margin: auto;
}

.dW img:hover{
    border: solid purple;
}

/* larger resolution */
@media screen and (max-width: 900px)
{

    .dWSecs, .dW
    {
        align-items: center;
        flex-direction: column;
    }

    .dW img{
        width: 100%;
        height: 150px;
        width: 125px;
        border: solid black;
        display: block;
        margin: auto;
    }

    body{
        background: black;
    }
}